.howToPlay {
  background-color: white;
  height: 250px;
  margin: 300px;
  padding: 50px;
  color: black;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px gray;
  animation: fadeIn 0.5s linear;
}
.howToPlay button {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  border: transparent;
  cursor: pointer;
  box-shadow: 0px 0px 3px 0px lightgray;
  -webkit-transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
}
.howToPlay button:hover {
  background: #e02c26;
  color: white;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.5);
  transform: scale(0.9);
}
