.playing {
  background-color: white;
  margin-top: 100px;
  padding-top: 30px;
  text-align: center;
  width: 400px;
  height: 600px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px gray;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  animation: fadeIn 0.3s linear;
}
.playing input {
  border: none;
  border-bottom: solid 2px gray;
  margin: 50px auto 0px auto;
  font-size: 40px;
  text-align: center;
  width: 100px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus {
  outline: none;
}

.playing > .buttons {
  position: absolute;
  text-align: center;
  top: 600px;
  width: 200px;
  height: 45px;
  margin: auto;
}
.playing a {
  text-decoration: none;
}
.playing .nowCnt {
  position: absolute;
  left: 52%;
  top: 110px;
  font-size: 20px;

  border-radius: 3px;
  padding: 2px 5px 2px 5px;
  background-color: rgb(211, 240, 211);
  box-shadow: 0px 0px 5px 0px lightgray;
}
.playing ul {
  list-style: none;
  text-align: center;
  padding: 0;
}

.playing ul li {
  margin: 0;
  font-size: 25px;
  animation: fadeIn 0.5s linear;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
